@import "tailwindcss";
html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent default scrolling */
}

.flex {
  display: flex;
}

.w-2/5 {
  width: 40%;
}

.w-3/5 {
  width: 60%;
}

.sticky {
  position: sticky;
  top: 0;
}

.h-screen {
  height: 100vh;
}

.p-8 {
  padding: 2rem;
}

.max-w-md {
  max-width: 28rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
/* Custom black scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #101828; /* Light gray background */
}

::-webkit-scrollbar-thumb {
  background: #203050; /* Black scrollbar */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker black on hover */
}
